body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    border-bottom: 5px #eee solid;
}

p {
    margin: 0;
}

li {
    margin-bottom: 20px;
}

a {
    color: #6163da;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}