/*--------- ヘッダー ---------*/
header {
    height: 190px;
    width: 100%;
    top: 0;
}

.header-container {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    height: 180px;
    width: auto;
}

.header-left {
    float: left;
    padding: 10px 0 0 20px;
}

/*--- メニュー ---*/
.home-index {
    background-color: #999;
    opacity: 0.7;
    padding: 80px 40px;
    z-index: 98;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    font-size: 20px;
}

.home-index ul {
    list-style: none;
    background-color: #999;
    padding: 0;
    margin: 0;
}

.home-index li {
    background-color: #999;
    color: white;
    padding-top: 15px;
}

.menu-li1 {
    margin-left: 20px;
}

.menu-li1 li {
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
}

#pl-blank {
    padding-top: 10px;
}

.sentou {
    padding-left: 10px;
}

.menu-li2 li {
    margin-left: 45px;
    font-size: 0.95em;
    list-style: disc;
    padding: 0;
}

.home-index a {
    background-color: #999;
    color: white;
}

.menu-icon {
    font-size: 40px;
    float: right;
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
}

.back {
    display: none;
    color: #fffff0;
}

/*--- メニュー ---*/

/*--------- ヘッダー ---------*/

/*--------- フッター ---------*/
.footer-logo {
    display: block;
    margin: 0 auto;
    height: 400px;
    padding-left: 75px;
}

/*--------- フッター ---------*/

/* ボタン全体 */
#page_top {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: #bbb;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 0.1s 0.05s linear;
    z-index: 1;
}

#page_top::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#page_top:hover {
    opacity: 1.0;
    background: #999;
}