.home-contents {
    max-width: 750px;
    margin: 0 auto;
}

.home-contents h2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    margin: 0;
}

.home-contents p {
    margin: 0;
    padding-left: 40px;
}

.home-contents a {
    color: #000000;
    font-size: 1.1em;
    text-decoration: underline dotted;
}

.home-contents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-contents li {
    padding-bottom: 5px;
}