p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}

.top {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 5px #eee solid;
}

.member-contents {
    max-width: 800px;
    margin: 20px auto;
}

.member-content {
    margin: 30px 0;
}

.member-content h2 {
    font-size: 20px;
    margin: 0;
}

.member-content h3 {
    font-size: 17px;
    margin: 10px 0;
}

.introduction {
    text-align: center;
}

.member-icon {
    width: 100px;
}

.member-link {
    width: fit-content;
    margin: 10px auto;
    padding: 5px 15px;

    background-color: #eee;
    border-radius: 2px;
}

.member-link p {
    margin: 2px 0;
}

.member-link a {
    color: #6163da;
}

.member-link a:hover {
    color: hotpink;
}

.comment {
    max-width: 95%;
    width: fit-content;
    min-width: 40%;
    margin: 25px auto;

    padding: 10px;

    border: 2px solid #ccc;
    border-radius: 2px;
}

.member-color {
    height: 2em;
    text-align: center;
}

.member-color h2 {
    font-size: 1em;
    font-weight: 600;
    display: inline;
    margin-right: 20px;
}

.member-color p {
    display: inline;
    padding: 2px 50px;
    margin: 0;
}

#manager-color {
    background-color: pink;
}

.member-character {
    max-width: 95%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.member-character a {
    padding: 3px 1px;
    margin: 0 auto;
}

.member-character img {
    transition: height 0.2s 0.05s linear;
}

.member-character a:hover img {
    height: 120px;
}

.charaImg {
    width: 120px;
    height: 140px;
    text-align: center;

    border: 2px solid #ccc;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #eee;

    position: relative;

    overflow: hidden;
}

.charaImg img {
    height: 110px;
}

.charaImg p {
    margin: 0;
    padding: 5px;
    width: 110px;

    position: absolute;
    top: 110px;

    background-color: #eee;
}