a {
    color: black;
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline;
}

.tool-contents {
    max-width: 1000px;
    margin: 0 auto;
}

.tool-content {
    margin: 20px auto;
    width: 90%;
    padding: 0 10px;
}

.input form {
    display: flex;
    flex-wrap: wrap;
}

.input_options {
    display: flex;
    flex-wrap: wrap;
}

.input_options p {
    padding-right: 2em;
}

.input_options select {
    height: 2em;
    width: 9em;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.input button {
    height: 2em;
    background-color: #eee;
    border: 1px solid black;
    font-family: "Zen Kaku Gothic New", sans-serif;
    transition: all 0.1s 0.05s linear;
}

.input button:hover {
    background-color: #999;
    color: white;
}

#input_error {
    color: red;
}

.output table {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    border-collapse: collapse;

}

.output thead th {
    position: relative;
    width: 20%;
    background-color: #999;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: 1px solid white;
}

.output tbody td {
    width: 20%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid white;
}

.output tbody tr {
    background-color: #eee;
}

.output tbody tr:nth-child(odd) {
    background-color: white;
}