a {
    color: black;
    text-decoration: none;
}

/*--- コンテンツ全体 ---*/
.member-contents {
    max-width: 1000px;
    margin: 20px auto;
}

/*--- 各コンテンツ共通 ---*/
.member-content {
    margin: 30px 0;
    padding: 0 20px;
}

.member-content h2 {
    font-size: 20px;
    margin: 0;
}

.member-content h3 {
    font-size: 17px;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

/*--- メンバー紹介 ---*/
.introduction {
    text-align: center;
}

.member-icon {
    width: 100px;
}

.member-icon:is([src=""]) {
    display: none;
}

.member-link {
    width: fit-content;
    margin: 10px auto;
    padding: 5px 15px;

    background-color: #eee;
    border-radius: 2px;
}

.member-link p {
    margin: 2px 0;
}

.member-link a {
    color: #6163da;
}

.member-link a:hover {
    color: hotpink;
}

.member-link:empty {
    display: none;
}

.comment {
    max-width: 95%;
    width: fit-content;
    min-width: 40%;
    margin: 25px auto;

    padding: 10px;

    border: 2px solid #ccc;
    border-radius: 2px;
}

.comment:empty {
    display: none;
}

.member-color {
    height: 2em;
    text-align: center;
}

.member-color h2 {
    font-size: 1em;
    font-weight: 600;
    display: inline;
    margin-right: 20px;
}

.member-color p {
    display: inline;
    padding: 2px 50px;
    margin: 0;
}

#manager-color {
    background-color: pink;
}

/*--- 「キャラクター一覧」「参加したシナリオ」のところ ---*/
.member-record h2 {
    padding: 10px;
    border: 2px solid #ccc;
}

/*--- キャラクター一覧 ---*/
.pc-list .accordion-content {
    background-color: #f8f8f8;
}

.member-character {
    max-width: 95%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.member-character a {
    padding: 5px 2px;
    margin: 0 auto;
}

.member-character img {
    transition: all 0.2s 0.05s linear;
}

.member-character a:hover img {
    transform: scale(1.2);
}

.charaImg {
    width: 120px;
    height: 140px;
    text-align: center;

    border: 2px solid #ccc;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #eee;
    background-color: white;

    position: relative;

    overflow: hidden;
}

.charaImg img {
    height: 120px;
}

.charaImg p {
    margin: 0;
    padding: 5px;
    width: 110px;

    position: absolute;
    top: 110px;

    background-color: #eee;
}

/*--- 参加シナリオ一覧 ---*/
.role-list .accordion-title {
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.role-list .accordion-content {
    border: 2px solid #eee;
}

#member-kp a:hover,
#member-pl a:hover {
    text-decoration: underline;
}

#member-kp {
    padding: 10px 20px;
}

#member-pl {
    padding: 10px 20px;
}

#member-pl table {
    border-collapse: collapse;
    width: 100%;
}

#member-pl td:first-child {
    position: relative;
    text-align: left;
    width: 50%;
    min-width: 8em;
    padding: 2px 10px 0 0;
}

#member-pl td:first-child::after {
    content: '';
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
}

#member-pl td:last-child {
    padding: 2px 0 0 10px;
}