a {
    color: black;
}

.scenario-lists {
    max-width: 1200px;
    margin: 0 auto;
}

/*ボタン*/
.kasira-btn-list {
    max-width: 740px;
    width: 95%;
    margin: 0 auto 20px;
}

.kasira-btns {
    display: flex;
    flex-direction: row;
    /*折り返しあり*/
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: xx-large;

    border: 2px solid #ccc;
    box-shadow: 3px 3px 0 #eee;

    width: 50px;
    padding: 5px;
    margin: 5px;

    transition: .2s;
}

.btn:hover {
    color: white;
    background-color: #ccc;
    box-shadow: 0 0 0 #eee;
}

.btn p {
    background-color: transparent;
    margin: 0;
}

.attention {
    padding: 0 0 0 10px;
    margin: 0;
    width: fit-content;
}

/*シナリオリスト*/
h3 {
    margin: 0px;
    padding: 10px;
}

ul {
    margin-top: 0px;
}

.kasira-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
}

.kasira-list {
    margin: 2px;
    width: 30%;
}

.blank-box {
    margin: 2px;
    width: 30%;
}

.kasira-list .accordion-title {
    border: 2px solid #ccc;
}

.kasira-list .accordion-content {
    border: 2px solid #eee;
}

.kasira-list ul {
    padding: 0 5px;
}

.kasira-list li {
    list-style: none;
    padding-bottom: 3px;
}

.kasira-list a {
    color: #555;
    font-size: 18px;
}

.kasira-list a:hover {
    text-decoration: underline;
}

/*--- アコーディオンは2列に並べる ---*/
@media (max-width: 800px) {
    .kasira-btn-list {
        width: 500px;
    }

    .kasira-btns {
        width: 370px;
        margin: 0 auto;
    }

    .attention {
        margin: 0 auto;
    }

    .kasira-lists {
        width: 95%;
        margin: 0 auto;
    }

    .kasira-list {
        max-width: 300px;
        width: 48%;
    }
}

/*--- アコーディオンは1列に並べる ---*/
@media (max-width: 520px) {

    .kasira-btn-list {
        width: 90%;
    }

    .kasira-btns {
        width: 270px;
        margin: 0 auto;
    }

    .btn {
        font-size: large;
        width: 30px;
        height: 30px;
    }

    .attention {
        font-size: smaller;
    }

    .kasira-lists {
        width: 90%;
        margin: 0 auto;
    }

    .kasira-list {
        width: 100%;
    }

    .blank-box {
        width: 296px;
    }

    h3 {
        font-size: 15px;
    }

    .kasira-list ul {
        margin-bottom: 10px;
    }

    .kasira-list li {
        height: 20px;
        padding-bottom: 1px;
    }

    .kasira-list a {
        font-size: smaller;
    }
}