a {
    color: black;
}

.scenario-lists {
    max-width: 950px;
    width: 95%;
    margin: 0 auto;
}

/*ボタン*/
.kasira-btn {
    display: flex;
    flex-direction: row;
    /*折り返しあり*/
    flex-wrap: wrap;
    /*左詰め*/
    justify-content: flex-start;
    align-items: flex-end;

    margin: 0 auto 20px;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: xx-large;

    border: 2px solid #ccc;
    box-shadow: 3px 3px 0 #eee;

    width: 50px;
    padding: 5px;
    margin: 5px;

    transition: .2s;
}

.btn:hover {
    color: white;
    background-color: #ccc;
    box-shadow: 0 0 0 #eee;
}

.btn p {
    background-color: transparent;
    margin: 0;
}

.attention {
    padding: 0 6px;
    margin: 0;
}

/*シナリオリスト*/
h3 {
    margin: 0px;
    padding: 10px;
}

ul {
    margin-top: 0px;
}

.kasira-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.kasira-list {
    margin: 2px;
    width: 300px;
}

.kasira-list .accordion-title {
    border: 2px solid #ccc;
}

.kasira-list .accordion-content {
    border: 2px solid #eee;
}

.kasira-list ul {
    padding-left: 10px;
}

.kasira-list li {
    list-style: none;
    padding-bottom: 3px;
}

.kasira-list a {
    color: #555;
    font-size: 18px;
}

.kasira-list a:hover {
    text-decoration: underline;
}